@import "tailwindcss";

@theme {
  --color-brand-500: #ff5a00;
  --color-brand-600: #e04f00;
  --color-brand-900: #7a2b00;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}
